body {
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* alteramos a cor de fundo*/
/* meche no estilo das letras*/